/* body{
    background: url('https://media.discordapp.net/attachments/915393310544240720/930937683524616283/unknown.png?width=850&height=480');
    background-repeat: no-repeat;
    background-size: cover;
} */

.nicesexytext {
    margin-left: auto;
    margin-right: auto;
    font-family: 'arial black';
    color: #bfb89c;
    text-transform: uppercase;
    text-align: center;
    width: 6em;
}

.divwrap {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    margin-top: 30%;
}

.cicleBackground {
    width: 26px;
    height: 26px;
    position: absolute;
    margin-left: 45px;
    margin-top: -46px;
    border-radius: 100%;
    background: #2d2d2d;
    /* border: #bfb89c 1px solid; */
	transform-origin: 50% 50%;
    transform: scale(3) rotate(270deg);
	transition: all 2s;
}

svg{
    margin:-6px -6px ;
}
.cicleDisplay {
    stroke: #bfb89c;
    stroke-width: 2;
    margin-right:0px;
    margin-top: 0px;
    fill: transparent;
    position: absolute;
    stroke-dasharray: 100;
	stroke-dashoffset: 30;
}

.divwrap p{
    align-content: center;
    padding-top: 51px;
    text-align: center;
    font-family: 'arial black';
    color: #bfb89c;
    position: relative;
    font-size: 1.3em;
    z-index: 9999;
}