body {
    background-color: transparent; 
}

#canvas {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
    background: #2d2d2d;
    border-radius: 50%;
    border: 5px solid #bfb89c;
    transition: 1s all;
}
